<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>!QAZXSW@</string>
	<string>0000aaaa</string>
	<string>0123456oo</string>
	<string>123a123a</string>
	<string>123admin</string>
	<string>1qaz2wsx</string>
	<string>1qaz2wsx3edc</string>
	<string>1qazXSW@</string>
	<string>1qazxsw2</string>
	<string>88809778a</string>
	<string>ADMIN!@#</string>
	<string>ADMIN!@#$</string>
	<string>ROOT!@#$</string>
	<string>TEST!@#$</string>
	<string>TEST!@#$%</string>
	<string>a1234567</string>
	<string>a123456a</string>
	<string>aa123123</string>
	<string>admin123</string>
	<string>admin1234</string>
	<string>admin12345</string>
	<string>admin123456</string>
	<string>admin12345678</string>
	<string>admin1314</string>
	<string>admin222</string>
	<string>admin234</string>
	<string>admin333</string>
	<string>admin444</string>
	<string>admin456</string>
	<string>admin555</string>
	<string>admin888</string>
	<string>admin@(eyou)</string>
	<string>bs88132756</string>
	<string>content2pub</string>
	<string>dlr123456</string>
	<string>eyou_admin</string>
	<string>fujun740115</string>
	<string>gbk88259894</string>
	<string>gsqajj88259588</string>
	<string>hz@123456</string>
	<string>kqjd123456</string>
	<string>pass123456</string>
	<string>qq123456</string>
	<string>qwer1234</string>
	<string>qwer@1234</string>
	<string>syf123456</string>
	<string>test1314</string>
	<string>wangda716</string>
	<string>wood0410</string>
	<string>xwl671118</string>
	<string>zzb88259815</string>
	<string>admin@123</string>
	<string>Test@123</string>
	<string>Test1234</string>
	<string>p@assword</string>
	<string>wang1234</string>
	<string>trustno1</string>
	<string>passw0rd</string>
	<string>1qa2ws3ed</string>
	<string>!QAZASDF</string>
	<string>6t5r4e3w2q</string>
	<string>power123</string>
	<string>!@#qweASD0</string>
	<string>abcd4321</string>
	<string>abcd54321</string>
	<string>aa12345678</string>
	<string>1230!@#$</string>
	<string>123!@#abc</string>
	<string>1q2w3e4r5t6y</string>
	<string>q1w2e3r4t5</string>
	<string>1234!@#$</string>
	<string>!@#123456!@#</string>
	<string>qwe123456qwe</string>
	<string>abc777888</string>
	<string>abc888999</string>
	<string>abcabcd1234</string>
	<string>abc!@#456</string>
	<string>qq7758520</string>
	<string>qq5201314</string>
	<string>qq1314520</string>
	<string>qweqwer12345</string>
	<string>12345qwert</string>
	<string>1q2w3e4r</string>
	<string>aaaaa22222</string>
	<string>aaaaa33333</string>
	<string>aaaaa44444</string>
	<string>aaaaa55555</string>
	<string>aaaaa66666</string>
	<string>aaaaa77777</string>
	<string>aaaaa88888</string>
	<string>aaaaa99999</string>
	<string>aaaaa00000</string>
	<string>bbbbb11111</string>
	<string>bbbbb22222</string>
	<string>bbbbb33333</string>
	<string>bbbbb44444</string>
	<string>bbbbb55555</string>
	<string>bbbbb66666</string>
	<string>bbbbb77777</string>
	<string>bbbbb88888</string>
	<string>bbbbb99999</string>
	<string>bbbbb00000</string>
	<string>admin88888</string>
	<string>admin66666</string>
	<string>00EEEE9E4BA2</string>
	<string>0027193A2F60</string>
	<string>00EEEE9E4B</string>
	<string>0027193A2F</string>
	<string>a1b2c3d4e5</string>
	<string>a123456789</string>
	<string>b123456789</string>
	<string>c123456789</string>
	<string>d123456789</string>
	<string>e123456789</string>
	<string>f123456789</string>
	<string>g123456789</string>
	<string>h123456789</string>
	<string>i123456789</string>
	<string>j123456789</string>
	<string>k123456789</string>
	<string>l123456789</string>
	<string>m123456789</string>
	<string>n123456789</string>
	<string>o123456789</string>
	<string>p123456789</string>
	<string>q123456789</string>
	<string>r123456789</string>
	<string>s123456789</string>
	<string>t123456789</string>
	<string>u123456789</string>
	<string>v123456789</string>
	<string>w123456789</string>
	<string>x123456789</string>
	<string>y123456789</string>
	<string>z123456789</string>
	<string>password1</string>
	<string>password11</string>
	<string>password12</string>
	<string>password22</string>
	<string>password00</string>
	<string>password99</string>
	<string>password66</string>
	<string>password88</string>
	<string>password68</string>
	<string>alpha-wlan</string>
	<string>link3a2f6o</string>
	<string>LINK3A2F60</string>
	<string>abcd123456</string>
	<string>62696e676f</string>
	<string>25802580ab</string>
	<string>abcd1234</string>
	<string>abcde12345</string>
	<string>aaaaa11111</string>
	<string>1A2B3C4D5E</string>
	<string>64696E6777</string>
	<string>113414129A</string>
	<string>123456789a</string>
	<string>123456789b</string>
	<string>123456789c</string>
	<string>123456789d</string>
	<string>123456789e</string>
	<string>123456789f</string>
	<string>123456789g</string>
	<string>123456789h</string>
	<string>123456789i</string>
	<string>123456789j</string>
	<string>123456789k</string>
	<string>123456789l</string>
	<string>123456789m</string>
	<string>123456789n</string>
	<string>123456789o</string>
	<string>123456789p</string>
	<string>123456789q</string>
	<string>123456789r</string>
	<string>123456789s</string>
	<string>123456789t</string>
	<string>123456789u</string>
	<string>123456789v</string>
	<string>123456789w</string>
	<string>123456789x</string>
	<string>123456789y</string>
	<string>123456789z</string>
	<string>12345ABCDE</string>
	<string>admin3388</string>
	<string>admin8888</string>
	<string>admin4488</string>
	<string>admin4567</string>
	<string>y888888888</string>
	<string>%username%</string>
	<string>!@#$%^&amp;</string>
	<string>eeee9e4ba2</string>
	<string>1234qwer</string>
</array>
</plist>
